body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

main {
  padding: 20px;
  max-width: 960px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

ol {
  padding-left: 20px;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Form Styling */
form {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  background-color: #555;
}

pre {
  background: #f0f0f0;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: monospace;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {

  main {
    padding: 10px;
    margin: 10px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  table {
    display: block;
    overflow-x: auto;
  }
}